<div class="container">
    <div class="container">  
      <div class="row">  
          <div class="col-md-12 text-center">  
              <h4>Simple Table</h4>  
          </div>  
          <div class="col-md-12 ml-auto mr-auto">  
              <div class="table-responsive">  
                  <table class="table table-striped">  
                      <thead>  
                          <tr>  
                              <th class="text-center">#</th>  
                              <th>User Name</th>  
                              <th>Role</th>  
                              <th>Login Time</th>  
                              <th>Logout Time</th>  
                            
                          </tr>  
                      </thead>  
                      <tbody>  
                          <tr>  
                              <td class="text-center">1</td>  
                              <td>Meher Srija</td>  
                              <td>User</td>  
                              <td> 3:55pm</td>  
                              <td>4.55pm</td>  
                          </tr>  
                          <tr>  
                              <td class="text-center">2</td>  
                              <td>Stabilo Pen</td>  
                              <td>Auditor</td>  
                              <td>4pm</td>  
                              <td>7pm</td>  
                              
                          </tr>  
                        
                      </tbody>  
                  </table>  
              </div>  
          </div>  
      </div>  
     
  </div>  
  </div> 